.tch-autocomplete {
  position: relative;
  &__dropdown {
    border: 1px solid #ccc;
    border-radius: 5px;
    border-top: 0;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 1;
    &-item {
      padding-left: 10px;
      &:hover {
        background-color: lightgray;
        cursor: pointer;
      }
    }
  }
}