<div class="{{cls()}} field" [formGroup]="autocompleteGroup">
  <label>
    <div class="control has-icons-right">
      <input
        #inputNode
        type="text"
        class="input"
        [ngClass]="{'is-danger': autocompleteGroup.invalid}"
        (keydown)="isListVisible=true"
        (keyup)="onChange()"
        formControlName="{{name}}"
        placeholder="{{label}}"
      />
    </div>
  </label>
  <ul class="{{cls('dropdown')}}" *ngIf="isListVisible">
    <li class="{{cls('dropdown-item')}}" (click)="onSelect(city)" *ngFor="let city of citiesList$ | async">
      {{city.title}}
    </li>
  </ul>
</div>