<div class="{{cls()}}">
  <div class="columns">
    <div class="column">
      <tch-autocomplete label="From" [data]="data.from"></tch-autocomplete>
    </div>
    <div class="column">
      <tch-autocomplete label="To" [data]="data.to"></tch-autocomplete>
    </div>
    <div class="column field">
      <tch-datepicker label="Date" [date]="data.date"></tch-datepicker>
    </div>
    <div class="column is-1">
      <div class="field has-addons">
        <p class="control">
          <a class="button" title="Set Desktop Notifications">
            <span class="icon is-small">
              <i class="fa fa-desktop"></i>
            </span>
          </a>
        </p>
        <!--<p class="control">
          <a class="button" title="Set Email Notifications">
            <span class="icon is-small">
              <i class="fa fa-envelope"></i>
            </span>
          </a>
        </p>-->
      </div>
    </div>
    <div class="column is-3 has-text-right">
      <a class="button is-primary" (click)="_onSave()">
        <span class="icon is-small">
          <i class="fa fa-check"></i>
        </span>
        <span>Save</span>
      </a>
      <a class="button is-outlined" (click)="_onCancel()">
        <span>Cancel</span>
        <span class="icon is-small">
          <i class="fa fa-times"></i>
        </span>
      </a>
    </div>
  </div>
</div>