<form novalidate [formGroup]="form" class="{{cls()}}" (ngSubmit)="_onSave(form.value)">
  <div class="columns">
    <div class="column">
      <tch-autocomplete label="From" [(data)]="data.from" [isValid]="form.controls['from'].valid"></tch-autocomplete>
    </div>
    <div class="column">
      <tch-autocomplete label="To" [(data)]="data.to" [isValid]="form.controls['to'].valid"></tch-autocomplete>
    </div>
    <div class="column field">
      <tch-datepicker label="Date" [(date)]="data.date" [isValid]="form.controls['date'].valid"></tch-datepicker>
    </div>
    <div class="column is-1">
      <div class="field has-addons">
        <p class="control">
          <a class="button" title="Set Desktop Notifications">
            <span class="icon is-small">
              <i class="fa fa-desktop"></i>
            </span>
          </a>
        </p>
        <!--<p class="control">
          <a class="button" title="Set Email Notifications">
            <span class="icon is-small">
              <i class="fa fa-envelope"></i>
            </span>
          </a>
        </p>-->
      </div>
    </div>
    <div class="column is-3 has-text-right">
      <button type="submit" class="button is-primary" [disabled]="!form.valid">
        <span class="icon is-small">
          <i class="fa fa-check"></i>
        </span>
        <span>Save</span>
      </button>
      <a class="button is-outlined" (click)="_onCancel()">
        <span>Cancel</span>
        <span class="icon is-small">
          <i class="fa fa-times"></i>
        </span>
      </a>
    </div>
  </div>
</form>