<div class="{{cls()}} container">
  <nav class="nav">
    <div class="nav-left">
      <span class="icon is-medium">
        <i class="fa fa-train"></i>
      </span>
      <div>Ticket Checker</div>
    </div>
    <div class="nav-right">
      <a class="button is-primary">+ New</a>
    </div>
  </nav>
  <h3><strong>All Subscriptions(0):</strong></h3>
  <div class="box {{cls('subscription-item')}}" *ngFor="let subscription of (subscriptions$ | async); let i=index">
    <tch-subscription
      [data]="subscription"
      *ngIf="editedItem != subscription"
      (onEdit)="onEdit(subscription)"
      (onRemove)="onRemove(i)"
    ></tch-subscription>
    <tch-form
      *ngIf="editedItem == subscription"
      (onSave)="onSave($event)"
      (onCancel)="editedItem = null"
    ></tch-form>
  </div>
  <a class="button is-primary" (click)="loadFixtures()">Load Fixtures</a>
  <!--<div class="{{cls('notifications')}}">
    <tch-notification></tch-notification>
  </div>-->
</div>
