.tch-root {
  nav {
    padding: 5px;
  }

  .nav-right,
  .nav-left,
  .nav-center {
    align-items: center;
  }

  &__subscription-item {
    margin-top: 10px;
  }

  &__notifications {
    position: fixed;
    top: 0;
    right: 10px;
    z-index: 10;
  }

  &__lang-selector {
    text-transform: uppercase;
    margin-right: 20px;
    li {
      padding: 0 3px;
      .text {
        cursor: pointer;
        text-decoration: underline;
      }
      &:after {
        content: '  |'
      }
      &.active {
        .text {
          cursor: default;
          text-decoration: none;
        }
      }
      display: inline-block;
      &:last-child:after {
        content: '';
      }
    }
  }
}