<div class="{{cls()}} container">
  <nav class="nav">
    <div class="nav-left">
      <span class="icon is-medium">
        <i class="fa fa-train"></i>
      </span>
      <div>Ticket Checker</div>
    </div>
    <div class="nav-right">
      <a class="button is-primary" (click)="onAdd()">+ New</a>
    </div>
  </nav>
  <h3><strong>All Subscriptions:</strong></h3>
  <div class="box" *ngIf="newItem">
    <tch-form
      [data]="newItem"
      (onSave)="add($event)"
      (onCancel)="newItem = null"
    ></tch-form>
  </div>
  <div class="box {{cls('subscription-item')}}" *ngFor="let subscription of (subscriptions$ | async)">
    <tch-subscription
      [data]="subscription"
      *ngIf="editedItem != subscription"
      (onEdit)="edit(subscription)"
      (onRemove)="remove(subscription.id)"
    ></tch-subscription>
    <tch-form
      *ngIf="editedItem == subscription"
      [data]="subscription"
      (onSave)="save($event)"
      (onCancel)="editedItem = null"
    ></tch-form>
  </div>
  <a class="button is-primary" (click)="loadFixtures()">Load Fixtures</a>
  <div class="{{cls('notifications')}}">
    <tch-notification
      *ngFor="let notification of (notifications$ | async)"
      [data]="notification"
      (onRemove)="onNotificationRemove(notification.id)"
    ></tch-notification>
  </div>
  <tch-modal [title]="modal.title" *ngIf="modal" (onHandle)="onRemoveApprove($event, modal.itemId)">{{modal.content}}</tch-modal>
</div>
